#app {
  font-family            : 'Century Gothic', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color      : #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.content-body {
  display   : flex;
  margin-top: 75px;
}

.app {
  width: 100%;

  &.home {
    margin-top: -75px;
  }
}

.estimator {
  flex: 1;
}

.app-logo {
  font-size: calc(10px + 2vmin);
}

.app-header {
  display        : flex;
  flex           : 1;
  flex-direction : column;
  align-items    : stretch;
  justify-content: center;
  color          : white;
}

.app-header nav {
  background-color: rgba(0, 0, 0, 0.54);
}

.app-link {
  color: #09d3ac;
}

/* Home related designs */
.slider-box {
  position: relative;
  flex    : 1;
}

.homeIcons {
  margin: 1rem 0;
}

.homeTitles {
  margin        : auto;
  font-weight   : 600;
  text-transform: uppercase;
  position      : relative;
  font-size     : 36px;
  line-height   : 36px;
  padding       : 1rem;
  color         : #000000;
  border-radius : 0 10px 0 10px;
  text-shadow   : 3px 3px 2px #bdc5aa, 2px 2px 2px #f9eaea;
}

.servieceText {
  padding: 0 2.5rem;
}

.enquire_box {
  margin         : 1% 0px;
  box-shadow     : 0px 0px 10px 0px #ddd;
  padding        : 2rem;
  background     : url(/img/slider6.322c3597.jpg) no-repeat 0 0;
  background-size: 50%;
  border-radius  : 5px;
  color          : #fff;
}

.enquire_box .form-control {
  border       : none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  margin-bottom: 1rem;
  padding-left : 0;
}

.enquire_box .form-control:focus {
  border-color      : none;
  box-shadow        : none;
  -webkit-box-shadow: none;
  outline           : -webkit-focus-ring-color auto 0;
}

.footer-links ul {
  flex-grow      : 1;
  flex-basis     : 0;
  text-align     : left;
  padding        : 0;
  list-style-type: none;
}

.footerWidth {
  width : 100%;
  margin: auto;
}

.homeBox {
  display: flex;
}

.homeBox:nth-child(odd) {
  background: #ffffff;
}

.homeBox:nth-child(even) {
  background: #eef0f8;
}

/*--------------------------------------------------------------
  # Footer Designs
  --------------------------------------------------------------*/
#footer {
  background: #000;
  padding   : 0 0 30px 0;
  color     : #eee;
  font-size : 14px;

  .footer-top {
    background: #111;
    padding   : 60px 0 30px 0;

    .footer-info {
      margin-bottom: 30px;
    }

    .footer-info h3 {
      font-size     : 34px;
      margin        : 0 0 20px 0;
      padding       : 2px 0 2px 10px;
      line-height   : 1;
      font-weight   : 700;
      letter-spacing: 3px;
      border-left   : 4px solid #18d26e;
    }

    .footer-info p {
      font-size    : 14px;
      line-height  : 24px;
      margin-bottom: 0;
      color        : #eee;
    }

    .social-links a {
      font-size    : 18px;
      display      : inline-block;
      background   : #333;
      color        : #eee;
      line-height  : 1;
      padding      : 8px 0;
      margin-right : 4px;
      border-radius: 50%;
      text-align   : center;
      width        : 36px;
      height       : 36px;
      transition   : 0.3s;
    }

    .social-links a:hover {
      background: #18d26e;
      color     : #fff;
    }

    h4 {
      font-size     : 14px;
      font-weight   : bold;
      color         : #fff;
      text-transform: uppercase;
      position      : relative;
      padding-bottom: 12px;
    }

    h4::before,
    h4::after {
      content : "";
      position: absolute;
      left    : 0;
      bottom  : 0;
      height  : 2px;
    }

    h4::before {
      right     : 0;
      background: #555;
    }

    h4::after {
      background: #18d26e;
      width     : 60px;
    }

    .footer-links {
      margin-bottom: 30px;
    }

    .footer-links ul {
      list-style: none;
      padding   : 0;
      margin    : 0;
    }

    .footer-links ul i {
      padding-right: 8px;
      color        : #ddd;
    }

    .footer-links ul li {
      border-bottom: 1px solid #333;
      padding      : 10px 0;
    }

    .footer-links ul li:first-child {
      padding-top: 0;
    }

    .footer-links ul a {
      color: #eee;
    }

    .footer-links ul a:hover {
      color: #18d26e;
    }

    .footer-contact {
      margin-bottom: 30px;
    }

    .footer-contact p {
      line-height: 26px;
    }

    .footer-newsletter {
      margin-bottom: 30px;

      input {
        &[type="email"] {
          border       : 0;
          padding      : 6px 8px;
          width        : 65%;
          border-radius: 0;

          &:focus {
            border       : none;
            outline      : none;
            border-radius: 0;
          }
        }

        &[type="submit"] {
          background   : #18d26e;
          border       : 0;
          width        : 35%;
          padding      : 6px 0;
          text-align   : center;
          color        : #fff;
          transition   : 0.3s;
          cursor       : pointer;
          border-radius: 0;
        }

        &[type="submit"]:hover {
          background: #13a456;
        }
      }

    }
  }

  .copyright {
    text-align : center;
    padding-top: 30px;
  }

  .credits {
    text-align: center;
    font-size : 13px;
    color     : #ddd;

    .creditsModal {
      color: #000000;

      .modal-template .modal-container {
        position: relative;
      }

      .modal-mask {
        position        : fixed;
        z-index         : 9998;
        top             : 0;
        left            : 0;
        width           : 100%;
        height          : 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display         : table;
        transition      : opacity 0.3s ease;
      }

      .modal-wrapper {
        display       : table-cell;
        vertical-align: middle;
      }

      .modal-container {
        width           : 25%;
        margin          : 0px auto;
        padding         : 1rem;
        background-color: #fff;
        border-radius   : 2px;
        box-shadow      : 0 2px 8px rgba(0, 0, 0, 0.33);
        transition      : all 0.3s ease;
        font-family     : Helvetica, Arial, sans-serif;
      }

      .modal-header {
        padding: 0 0;

        h3 {
          margin-top: 0;
          color     : #42b983;
        }
      }

      .modal-body {
        margin : 20px 0;
        padding: 0 0;

        .show_num {
          cursor: pointer;
        }

        .dev_name,
        .dev_contact {
          display        : flex;
          justify-content: space-between;

          label,
          span {
            box-shadow : 0px 0px 5px 0px #bbb6b6;
            flex       : 1;
            height     : 24px;
            margin     : 2px;
            padding    : 5px;
            line-height: 1;
          }
        }
      }

      .modal-footer {
        padding: 0 0;
      }

      .modal-default-button {
        position     : absolute;
        right        : 1rem;
        top          : 1rem;
        border       : none;
        background   : #38000099;
        color        : #fff;
        box-shadow   : 0px 0px 5px 0px #000;
        border-radius: 1rem;
      }
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
      opacity: 0;
    }

    .modal-leave-active {
      opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
      -webkit-transform: scale(1.1);
      transform        : scale(1.1);
    }
  }
}

/* list styles */

.gradient-list {
  counter-reset : gradient-counter;
  list-style    : none;
  margin        : 0 0 1.75rem 0;
  flex-direction: row;
  flex          : 1;
}

.gradient-list .col>.list-group-item {
  background       : white;
  border-radius    : 0.5rem;
  counter-increment: gradient-counter;
  margin-top       : 1rem;
  min-height       : 3rem;
  padding          : 1rem 1rem 1rem 3rem;
  position         : relative;
}

.gradient-list .col>.list-group-item,
.gradient-list .col>.list-group-item::before {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

.service_card {
  margin    : 3% 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .card-body {
    transition   : .5s ease;
    opacity      : 0;
    position     : absolute;
    top          : 50%;
    left         : 50%;
    transform    : translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align   : center;
    padding      : 0 1rem;

    h5.card_title {
      margin          : 0.5em 0 0 0;
      font-weight     : 600;
      text-transform  : uppercase;
      position        : relative;
      font-size       : 26px;
      line-height     : 26px;
      padding         : 0.625rem 1rem;
      background-color: #4CAF50;
      color           : white;
    }
  }

  img {
    padding            : 0;
    border             : 1rem solid #ffffff;
    opacity            : 1;
    display            : block;
    width              : 100%;
    height             : auto;
    transition         : .5s ease;
    backface-visibility: hidden;
  }

  &:hover img {
    opacity: 0.3;
  }

  &:hover .card-body {
    opacity: 1;
  }

}

a.dev_card:not([href]) {
  color : #007bff;
  cursor: pointer;
}

.how_box {
  text-align: center;
}

.how_card {
  margin       : 3% 0;
  border-radius: 10px;
  box-shadow   : 0 0 30px 0 rgba(82, 63, 105, .05);
  border       : 0;

  img {
    padding      : 0.625rem;
    width        : 150px;
    height       : 150px;
    text-align   : center;
    margin       : auto;
    border-radius: 50%;
    background   : #0000002b;
  }
}

.why_us_icons {
  width       : 3rem;
  margin-right: 1rem;
}

#servieces,
#whats_unique,
#how_it_works,
#enquire_us {
  padding: 0 4rem;
}

#headerBox .navbar-nav .nav-link,
#headerBox .navbar-nav .nav-link a {
  color: #fff;
}

// Custom errors and validation design

.c-error .c-validation {
  background   : #f5376c;
  color        : #fff;
  padding      : 10px;
  border-radius: 0;
  position     : relative;
  display      : block;
  box-shadow   : 1px 1px 1px #aaaaaa;
  margin-top   : 10px;
}

.c-error .c-validation:before {
  content      : "";
  width        : 0;
  height       : 0;
  border-left  : 10px solid transparent;
  border-right : 10px solid transparent;
  border-bottom: 10px solid #c51244;
  position     : absolute;
  top          : -10px;
}

.paint_product_tabs .c-error .c-validation {
  &:before {
    content: none;
  }

  &:after {
    content     : "";
    width       : 0;
    height      : 0;
    border-left : 10px solid transparent;
    border-right: 10px solid transparent;
    border-top  : 10px solid #c51244;
    position    : absolute;
    bottom      : -10px;
  }
}

.c-label:after {
  color: #c51244;
}

.c-error input,
.c-error select,
.c-error .c-choice-option {
  background: #fff0f4;
  color     : #c51244;
}

.c-error input,
.c-error select {
  border: 1px solid #c51244;
}

// mobile button hover animation

.mobile {
  box-shadow        : 10px 10px 20px rgba(255, 255, 255, 0.35), 5px 10px 10px rgba(0, 0, 0, 0.82);
  border-radius     : 0;
  border            : none;
  font-size         : inherit;
  color             : inherit;
  display           : flex;
  text-transform    : uppercase;
  letter-spacing    : 1px;
  font-weight       : 700;
  outline           : none;
  position          : relative;
  -webkit-transition: all 0.3s;
  -moz-transition   : all 0.3s;
  transition        : all 0.3s;
  padding           : 0;

  .icon {
    background-color: #ffc107;
    padding         : 0.625rem;
    font-size       : 1.25rem;
    width           : 3rem;
    text-align      : end;
  }

  span.calluson {
    font-size    : 1.25rem;
    padding      : 0.625rem;
    border-radius: 0.625rem;
    cursor       : pointer;
    display      : inline-block;
    position     : relative;
    transition   : 0.5s;

    &:after {
      content   : '\00bb';
      position  : absolute;
      opacity   : 0;
      right     : -10px;
      transition: 0.5s;
      top       : 8px;
    }
  }

  &:hover span.calluson {
    padding-right: 2rem;

    &:after {
      opacity: 1;
      right  : 10px;
    }
  }

}

// estimate button home page

.estimate-button,
.freedesign-button {
  position : absolute;
  transform: translate(-50%, -50%);
}

.estimate-button {
  left            : 50%;
  top             : 45%;
  background-color: #ffc107;
  border          : 2px solid #ffc107;
}

.freedesign-button {
  left            : 50%;
  top             : 55%;
  background-color: #5761bd;
  border          : 2px solid #5761bd;
}

.animated {
  font-size         : 20px;
  transition        : all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition   : all 0.5s ease;
  -o-transition     : all 0.5s ease;
  -ms-transition    : all 0.5s ease;

  &.styled_btn {
    color        : #fff;
    border-radius: 0;
    border-left  : transparent;
    border-right : transparent;
    white-space  : nowrap;
    max-width    : 90%;
  }

  &.styled_btn:before,
  &.styled_btn:after {
    width             : 0;
    height            : 3px;
    content           : " ";
    background-color  : #f44336;
    position          : absolute;
    top               : 0;
    left              : 50%;
    transition        : all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
  }

  &.styled_btn:after {
    top: 100%;
  }

  &.styled_btn:hover {
    letter-spacing: 2px;
    color         : #fff;
  }

  &.styled_btn:hover:before,
  &.styled_btn:hover:after {
    width: 100%;
    left : 0;
  }

  &.styled_btn:hover:after {
    width: 100%;
    left : 0;
  }

  a {
    color           : inherit;
    text-decoration : none;
    background-color: transparent;
  }
}

.error.error-404 {
  .error-title {
    font-size: 8rem;
  }
}

.flex-root {
  flex: 1;
}

.error_pages {
  margin-top: -75px;
}

.bgi-position-center {
  background-position: 50%;
}

.bgi-size-cover {
  background-size: cover;
  height         : 100vh;
}

.flex-row-fluid {
  -webkit-box-flex: 1;
  flex            : 1 auto;
  -ms-flex        : 1 0 0px;
  min-width       : 0;
}

.display-4 {
  font-size: 2.5rem;
}

.font-weight-boldest {
  font-weight: 900;
}

.estimator-form {
  width : 75%;
  margin: auto;
}

.wizard-step {
  display          : -webkit-box;
  display          : -ms-flexbox;
  display          : flex;
  -webkit-box-align: center;
  -ms-flex-align   : center;
  align-items      : center;

  .wizard-label {
    margin-left : 3.5rem;
    margin-right: 3.5rem;

    svg {
      display        : flex;
      justify-content: center;
      margin         : auto;
      color          : #b5b5c3;
    }

    .wizard-title {
      font-size  : 1.1rem;
      font-weight: 500;
      margin-top : .75rem;
      display    : block;
    }
  }
}

// Paint products page css

.paint_product_tabs,
.optionsPage,
.resultsPage {
  padding   : 1rem;
  margin    : 1rem 0;
  box-shadow: 5px 5px 30px 5px rgba(82, 63, 105, 0.05);
  border    : 0;
  background: #ffffff;
}

.products_details {
  display        : flex;
  justify-content: space-between;

  &>div {
    box-shadow: 0px 0px 20px 10px #ceeaea;
    margin    : 1rem;
    padding   : 1rem;
    width     : 50%;
  }

  label {
    font-weight  : bold;
    margin-right : 0.5rem;
    margin-bottom: 0.25rem;
  }
}

.results_header {
  display        : flex;
  justify-content: center;
  padding-top    : 1rem;
  padding-bottom : 0rem;
  font-weight    : bolder;
}

.selected_product {
  padding   : 0.5rem;
  background: green;
  color     : #fff;
  margin    : 1rem 0;

  label {
    margin-bottom: 0;
    margin-right : 0.625rem;
  }
}

.paint_product_tabs {

  .tab-content {
    margin-left     : 1rem;
    margin-bottom   : 0;
    background-color: rgba(0, 0, 0, 0.03);
  }

  .title-flex {
    display: flex;

    .title-span {
      text-align: justify;
      flex      : 1;
    }
  }

  .card-deck .card {
    max-width    : calc(25% - 30px);
    min-width    : calc(25% - 30px);
    margin-bottom: 1rem;
  }

  .price_box,
  .quality_details div {
    display        : flex;
    align-content  : flex-start;
    justify-content: space-between;
  }

  .paint_product_box {
    font-size: 12px;
    border   : none;

    .card-body {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    }

    &.active {
      .card-body {
        background: #cecece;
      }

      &:before {
        content        : "\2713";
        width          : 100%;
        height         : 100%;
        color          : #fff;
        position       : absolute;
        font-size      : 2rem;
        background     : #00000082;
        top            : 0;
        display        : flex;
        align-items    : center;
        justify-content: center;
      }
    }
  }
}

.results_sub_title,
.results_title {
  margin-top : 0.625rem;
  display    : flex;
  font-weight: bold;
}

.rate_box {
  display        : flex;
  justify-content: space-between;
}

// Estimator page design css

.estimateContainer {
  margin    : 2rem 5vw;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.08);
  padding   : 1rem;
}

.action-bar {
  width           : 100%;
  z-index         : 10;
  background-color: #fff;
  border-top      : 1px solid #ddd;
  margin-top      : 2.5rem;
  padding-top     : 2rem;
}

.action-btns {
  display      : flex;
  margin-bottom: 1rem;

  span {
    flex: 1;

    &:first-child button {
      float: left;
    }

    &:last-child button {
      float: right;
    }

    button:focus {
      outline: none;
      border : none;
    }
  }
}

.statusIndicators {
  display        : flex;
  padding        : 1rem;
  border-bottom  : 1px solid #ddd;
  margin-bottom  : 2rem;
  justify-content: space-evenly;
  align-items    : center;

  svg {
    color: #b5b5c3;

    &.active {
      color: #4971e4;
    }
  }
}

.colorIndicator {
  color        : #b5b5c3;
  padding      : 0.25rem 1rem;
  margin       : 0.625rem 0;
  margin-right : 0.5rem;
  border-radius: 4px;

  &.active {
    color: #4971e4;

    svg {
      color: #4971e4;
    }
  }
}