// Design for select

.style-chooser {
  margin   : 1em auto;
  word-wrap: break-word;
}

.style-chooser .vs__dropdown-toggle {
  max-height: 3rem;
}

.style-chooser .vs__dropdown-menu li {
  max-width    : 100%;
  box-sizing   : border-box;
  white-space  : normal;
  word-wrap    : break-word;
  border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.style-chooser .vs__dropdown-menu li:last-child {
  border-bottom: none;
}

.style-chooser .vs__dropdown-menu li a {
  display    : flex;
  align-items: center;
}

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu,
.style-chooser input {
  background-color  : #f3f6f9;
  border-color      : #f3f6f9;
  color             : #464e5f;
  -webkit-transition: color .15s ease, background-color .15s ease, border-color .15s ease, -webkit-box-shadow .15s ease;
  transition        : color .15s ease, background-color .15s ease, border-color .15s ease, -webkit-box-shadow .15s ease;
  transition        : color .15s ease, background-color .15s ease, border-color .15s ease, box-shadow .15s ease;
  transition        : color .15s ease, background-color .15s ease, border-color .15s ease, box-shadow .15s ease, -webkit-box-shadow .15s ease;
  text-transform    : lowercase;
  font-variant      : small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}

// design of input boxes

.style-chooser input::-moz-placeholder {
  color  : #b5b5c3;
  opacity: 1
}

.style-chooser input:-ms-input-placeholder {
  color: #b5b5c3
}

.style-chooser input::-webkit-input-placeholder {
  color: #b5b5c3
}

.style-chooser input.active,
.style-chooser input.focus,
.style-chooser input:active,
.style-chooser input:focus {
  background-color  : #f3f6f9;
  border-color      : #f3f6f9;
  color             : #464e5f;
  -webkit-transition: color .15s ease, background-color .15s ease, border-color .15s ease, -webkit-box-shadow .15s ease;
  transition        : color .15s ease, background-color .15s ease, border-color .15s ease, -webkit-box-shadow .15s ease;
  transition        : color .15s ease, background-color .15s ease, border-color .15s ease, box-shadow .15s ease;
  transition        : color .15s ease, background-color .15s ease, border-color .15s ease, box-shadow .15s ease, -webkit-box-shadow .15s ease
}